In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
train_path = os.path.join('..','data','raw','train.csv')
train_df = pd.read_csv(train_path)
train_df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [3]:
train_df_copy = train_df.copy()
train_df_copy

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [4]:
train_df_copy['keyword'] = ['unknown' if type(i) == float else i for i in train_df_copy.keyword.values]
train_df_copy['location'] = ['unknown' if type(i) == float else i for i in train_df_copy.location.values]

In [5]:
train_df_copy

,id,keyword,location,text,target
0,1,unknown,unknown,Our Deeds are the Reason of this #earthquake M...,1
1,4,unknown,unknown,Forest fire near La Ronge Sask. Canada,1
2,5,unknown,unknown,All residents asked to 'shelter in place' are ...,1
3,6,unknown,unknown,"13,000 people receive #wildfires evacuation or...",1
4,7,unknown,unknown,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,unknown,unknown,Two giant cranes holding a bridge collapse int...,1
7609,10870,unknown,unknown,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,unknown,unknown,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,unknown,unknown,Police investigating after an e-bike collided ...,1
7612,10873,unknown,unknown,The Latest: More Homes Razed by Northern Calif...,1

In [6]:
train_df_copy['corpus'] = train_df_copy.keyword + " " + train_df_copy.location + " " + train_df_copy.text
train_df_copy = train_df_copy[['id','location','keyword','text','corpus','target']]
train_df_copy

,id,location,keyword,text,corpus,target
0,1,unknown,unknown,Our Deeds are the Reason of this #earthquake M...,unknown unknown Our Deeds are the Reason of th...,1
1,4,unknown,unknown,Forest fire near La Ronge Sask. Canada,unknown unknown Forest fire near La Ronge Sask...,1
2,5,unknown,unknown,All residents asked to 'shelter in place' are ...,unknown unknown All residents asked to 'shelte...,1
3,6,unknown,unknown,"13,000 people receive #wildfires evacuation or...","unknown unknown 13,000 people receive #wildfir...",1
4,7,unknown,unknown,Just got sent this photo from Ruby #Alaska as ...,unknown unknown Just got sent this photo from ...,1
...,...,...,...,...,...,...
7608,10869,unknown,unknown,Two giant cranes holding a bridge collapse int...,unknown unknown Two giant cranes holding a bri...,1
7609,10870,unknown,unknown,@aria_ahrary @TheTawniest The out of control w...,unknown unknown @aria_ahrary @TheTawniest The ...,1
7610,10871,unknown,unknown,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,unknown unknown M1.94 [01:04 UTC]?5km S of Vol...,1
7611,10872,unknown,unknown,Police investigating after an e-bike collided ...,unknown unknown Police investigating after an ...,1
7612,10873,unknown,unknown,The Latest: More Homes Razed by Northern Calif...,unknown unknown The Latest: More Homes Razed b...,1

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
corpus = train_df_copy.corpus.to_list()
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)
# print(vectorizer.get_feature_names())
# print(X)